.project
.classpath
*.iml

*/.settings/*
*/*/.settings/*
*/*/*/.settings/*

*/target/*
*/*/target/*
*/*/*/target/*

*/dist/*
*/*/dist/*
*/*/*/dist/*

*/build/*
*/*/build/*
*/*/*/build/*

*/fina-web-old/*
*/*/fina-web-old/*
*/*/*/fina-web-old/*

.idea/*
*/.idea/*
*/*/.idea/*
*/*/*/.idea/*

.svn/*
*/.svn/*
*/*/.svn/*
*/*/*/.svn/*

*/nbproject/private/*
*/*/nbproject/private/*
*/*/*/nbproject/private/*

*/nbproject/jfx-impl_backup*.xml
*/nbproject/UPDATED.TXT

src/main/java/net/.svn/
src/main/java/net/fina/tec/.svn/
src/main/java/net/fina/.svn/
